<%- include("partials/header") %>
    <form action="/register" method="post">
        <input type="text" name=hosp[name] placeholder=Name>
        <input type="number" name="hosp[phno]" placeholder="Number">
        <input type="text" name=hosp[username] placeholder=UserName>
        <input type="password" name=hosp[pass] placeholder=Password>
        <input type="address" name="hosp[add]" placeholder="address">
        <input type="email" name="hosp[email]" placeholder="email">
        <input type="text" name="hosp[district]" placeholder="District">
        <input type="text" name="hosp[type]" placeholder="Type">
        <input type="number" name="hosp[tgen]" placeholder="General beds">
        <input type="number" name="hosp[toxy]" placeholder="Oxygen beds">
        <input type="number" name="hosp[ticu]" placeholder="ICU beds">
        <input type="number" name="hosp[ticv]" placeholder="ICUV beds">
        <input type="number" name="hosp[ogen]" placeholder="OGeneral beds">
        <input type="number" name="hosp[ooxy]" placeholder="OOXy beds">
        <input type="number" name="hosp[oicu]" placeholder="OICU beds">
        <input type="number" name="hosp[oicv]" placeholder="OICUV beds">
        <input type="number" name="hosp[agen]" placeholder="AGeneral beds">
        <input type="number" name="hosp[aoxy]" placeholder="AOXy beds">
        <input type="number" name="hosp[aicu]" placeholder="AICU beds">
        <input type="number" name="hosp[aicv]" placeholder="AICUV beds">
        <input type="submit" name="" id="">
    </form>
<%- include("partials/footer") %>