<%- include("partials/header") %>
<p>Requset Successful.</p>
<p>Sms notification will be sent once bed is alloted</p>
<p>Report to hospital within 3 hours off Allotment otherwise allotment will be canceled</p>
<a href="/">Home</a>
<%- include("partials/footer") %>