html { 
    font-size: calc(0.3em + 1vw); 
  }
body{
  background-color: rgb(13, 31, 49);
}
#requestbody{
  padding: 50px 10px 20px 10px;
}
#requestcontainer{
  background-color:rgb(28, 124, 153);
  color:floralwhite;
}
#requesth3{
  color: black;
}

#loginbody{
  padding: 50px 10px 30px 10px;
}
#logincontainer
{
    background-color: rgb(8, 73, 85);
    width: fit-content;
    
}

.avatar {
        border-radius: 50%;
}
#loginrow
{
    color: floralwhite;
}