html { 
    font-size: calc(0.3em + 1vw); 
  }
body{
  background-color: rgb(13, 31, 49);
  color: floralwhite;
}
#requestbody{
  padding: 30px 10px 20px 10px;
}
#requestcontainer{
  background-color:rgb(28, 124, 153);
  color:floralwhite;
}
#requesth3{
  color: black;
}

#loginbody{
  padding: 45px 10px 20px 10px;
}
#logincontainer
{
    background-color: rgb(8, 73, 85);
    width: fit-content;
    
}
.avatar {
        border-radius: 50%;
}
#loginrow
{
    color: floralwhite;
}
#homecontainer{
  padding-top: 10px;
}
#navbarnav{
  border: 3px solid rgb(86, 25, 114);
}
#homekeepsafe{
  letter-spacing: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'
}
#headingh3{
  color:aquamarine;
}
#rowimageborder{
  border: 10px solid rgb(73, 24, 95);
}
#hospcontainer{
  padding-top: 15px;
}
#hosptable {
  table-layout: fixed;
  width: 100%; 
} 

th,td {
  border: 1px solid black;
}
#admith3{
  color: aquamarine;
}
#viewpatientform{
  display: inline;
}
#successh3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}